$primary_color: #293241;
$secondary_color: #eef4ed;
$color_3: #073b4c;
$color_4: #ee6c4d;

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary_color;
  color: $secondary_color;
  font-size: 1.2rem;
  height: 70px;
}

.navbar-logo {
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
  color: $color_4;
  font-weight: bold;
  font-size: 30px;
}

.fa-brands {
  margin-left: 10px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  justify-content: end;
  text-align: center;
  list-style: none;
  margin-right: 2rem;
  width: 70vw;
}

.nav-links {
  color: $secondary_color;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: $color_4;
  color: $secondary_color;
  border-radius: 4px;
  transition: all 0.5s ease-out;
}
.nav-logo:hover {
  background-color: $primary_color;
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar-items {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
